/* beranda */
.walpaper {
  width: 100%; 
  max-width: 100%; 
  margin-top: -5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-container,
.image-container1 {
  margin: 10px;
}

.wayang1,
.wayang2,
.wayang3 {
  width: 100%; 
  height: auto;
  max-width: 500px; 
}

.text-container,
.text-container1 {
  margin: 30px;
}

.text-container h1 {
  margin: 0;
  text-transform: uppercase; 
}

.text-container h2{
    font-size: 26px;
}

.text-container p{
  font-size: 13px;
}

.text-container span {
  display: block; 
  margin-top: 5px; 
}

.container1 {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  margin: 20px;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row; 
  }

  .container1 {
    flex-direction: row; 
    align-items: flex-start; 
  }

  .text-container1 {
    flex-grow: 2; 
    padding: 20px;
    margin: 20px;
    text-align: left; 
    font-size: 15px;
  }

  .image-container1 {
    flex-grow: 1; 
    text-align: center; 
  }
}

.judul {
  text-align: center;
  color: blue;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 5px;
  padding: 5px;
  width: 270px;
  text-align: center;
}

.card h6{
  margin: 10px;
  font-weight: bold;
}

.card h3 {
  margin-top: 10px;
}

.card-image {
  width: 100%; 
  height: auto;
  border-radius: 4px;
}

.subtitle {
  font-size: 12px;
}

.sejarah {
  margin: 30px;
}

.sejarah h2{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.judul1 {
  text-align: center;
}


.wayang3{
  width: 200px;
}

.judul2{
  font-size: 30px;
}


.text1{
  font-size: 30px;
  text-align: left;
  margin-left: 30px;
}


/* tentang */
.text {
  font-size: 18px;
  text-align: justify;
  margin: 20px;
}

.judul3 {
  font-size: 25px;
  margin: 20px;
  margin-top: 60px;
}


@media only screen and (max-width: 768px) {
  .text,
  .judul3 {
    font-size: 16px; 
    margin: 10px; 
  }
}



/* contact */
.contact {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact form {
  width: 90%; 
  max-width: 600px; 
  text-align: center;
}

form .input-box {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

.input-box .input-field {
  width: 48%; 
}

.field .item {
  width: 100%;
  padding: 12px; 
  background: transparent;
  border: 2px solid #805b1b;
  outline: none;
  border-radius: 6px;
  font-size: 14px; 
  margin: 10px 0; 
}

.field .item::placeholder {
  color: rgba(0, 0, 0, 0.7); 
}

form button {
  padding: 12px 32px;
  background: #805b1b;
  border: none;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 10px #805b1b;
  color: #fdfafa;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s;
  margin: 20px;
}

form button:hover {
  box-shadow: none;
}

.judul4 {
  text-align: center;
}

.judul5 {
  text-align: center;
  margin: 30px;
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  .contact form {
    width: 90%; 
  }

  .input-box .input-field {
    width: 100%; 
  }

  .field .item {
    font-size: 12px; 
  }
}


.team .img-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 40px;
}
